In [26]:
import requests
from bs4 import BeautifulSoup

In [27]:
linkk='http://books.toscrape.com'

In [28]:
requests.get(linkk)

In [29]:
res=requests.get(linkk)
soup=BeautifulSoup(res.text,'html.parser')

In [69]:
html=res.text

In [70]:
f=open('Books.html','w')
f.write(html)
f.close()

##### <font color='red'>Keep checking out the inspect part of the webpage along with the code</font>

In [30]:
len(soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'))

20

- So we are having 20 books in the webpage

###  <center><font color='clue'> To get the link, Title and sorce of the image of the book </font></center>

In [41]:
#Check below sp to udnerstand the tags to search from
for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
    print('-'*70)
    
    book_link    =sp.find_all('a')[-1].get('href')
    title        =sp.find_all('a')[-1].get('title')
    img_link     =sp.find('img').get('src')
    rating       =sp.find('p').get('class')[-1]
    price        =sp.find('p',class_='price_color').text[1:]
    availability =sp.find('p',class_='instock availability').text.strip()
    
    print(link,'||',title,'||',img,'||',rating,'||',price,'||',availability)

----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || A Light in the Attic || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Three || £51.77 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Tipping the Velvet || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || One || £53.74 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Soumission || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || One || £50.10 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Sharp Objects || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Four || £47.82 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Sapiens: A Brief History of Humankind || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Five || £54.23 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || The Requiem Red || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || One || £22.65 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || The Dirty Little Secrets of Getting Your Dream Job || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Four || £33.34 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Three || £17.93 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Four || £22.60 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || The Black Maria || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || One || £52.15 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Starving Hearts (Triangular Trade Trilogy, #1) || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Two || £13.99 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Shakespeare's Sonnets || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Four || £20.66 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Set Me Free || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Five || £17.46 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Scott Pilgrim's Precious Little Life (Scott Pilgrim #1) || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Five || £52.29 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Rip it Up and Start Again || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Five || £35.02 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991 || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Three || £57.25 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Olio || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || One || £23.88 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Mesaerion: The Best Science Fiction Stories 1800-1849 || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || One || £37.59 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || Libertarianism for Beginners || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Two || £51.33 || In stock
----------------------------------------------------------------------
catalogue/its-only-the-himalayas_981/index.html || It's Only the Himalayas || media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg || Two || £45.17 || In stock

###### To find which `p` or `div` or `class` the things belongs from check from the `sp` variable

In [39]:
print(sp)

<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
<article class="product_pod">
<div class="image_container">
<a href="catalogue/its-only-the-himalayas_981/index.html"><img alt="It's Only the Himalayas" class="thumbnail" src="media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg"/></a>
</div>
<p class="star-rating Two">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>
<div class="product_price">
<p class="price_color">Â£45.17</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>
</li>

In [46]:
data=[]
for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
   # print('-'*70)
    
    book_link    ='http://books.toscrape.com/'+sp.find_all('a')[-1].get('href')
    title        =sp.find_all('a')[-1].get('title')
    img_link     ='http://books.toscrape.com/'+sp.find('img').get('src')
    rating       =sp.find('p').get('class')[-1]
    price        =sp.find('p',class_='price_color').text[1:]
    availability =sp.find('p',class_='instock availability').text.strip()
    
    data.append([title,rating,price,availability,book_link,img_link])
   # print(link,'||',title,'||',img,'||',rating,'||',price,'||',availability)

In [48]:
data[0]

['A Light in the Attic',
 'Three',
 '£51.77',
 'In stock',
 'http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html',
 'http://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg']

In [51]:
import pandas as pd

In [54]:
pd.DataFrame(data,columns=['Title','Rating','Price','Stock','Book Link','Image Link'])

,Title,Rating,Price,Stock,Book Link,Image Link
0,A Light in the Attic,Three,£51.77,In stock,http://books.toscrape.com/catalogue/a-light-in...,http://books.toscrape.com/media/cache/2c/da/2c...
1,Tipping the Velvet,One,£53.74,In stock,http://books.toscrape.com/catalogue/tipping-th...,http://books.toscrape.com/media/cache/26/0c/26...
2,Soumission,One,£50.10,In stock,http://books.toscrape.com/catalogue/soumission...,http://books.toscrape.com/media/cache/3e/ef/3e...
3,Sharp Objects,Four,£47.82,In stock,http://books.toscrape.com/catalogue/sharp-obje...,http://books.toscrape.com/media/cache/32/51/32...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,http://books.toscrape.com/catalogue/sapiens-a-...,http://books.toscrape.com/media/cache/be/a5/be...
5,The Requiem Red,One,£22.65,In stock,http://books.toscrape.com/catalogue/the-requie...,http://books.toscrape.com/media/cache/68/33/68...
6,The Dirty Little Secrets of Getting Your Dream...,Four,£33.34,In stock,http://books.toscrape.com/catalogue/the-dirty-...,http://books.toscrape.com/media/cache/92/27/92...
7,The Coming Woman: A Novel Based on the Life of...,Three,£17.93,In stock,http://books.toscrape.com/catalogue/the-coming...,http://books.toscrape.com/media/cache/3d/54/3d...
8,The Boys in the Boat: Nine Americans and Their...,Four,£22.60,In stock,http://books.toscrape.com/catalogue/the-boys-i...,http://books.toscrape.com/media/cache/66/88/66...
9,The Black Maria,One,£52.15,In stock,http://books.toscrape.com/catalogue/the-black-...,http://books.toscrape.com/media/cache/58/46/58...
10,"Starving Hearts (Triangular Trade Trilogy, #1)",Two,£13.99,In stock,http://books.toscrape.com/catalogue/starving-h...,http://books.toscrape.com/media/cache/be/f4/be...
11,Shakespeare's Sonnets,Four,£20.66,In stock,http://books.toscrape.com/catalogue/shakespear...,http://books.toscrape.com/media/cache/10/48/10...
12,Set Me Free,Five,£17.46,In stock,http://books.toscrape.com/catalogue/set-me-fre...,http://books.toscrape.com/media/cache/5b/88/5b...
13,Scott Pilgrim's Precious Little Life (Scott Pi...,Five,£52.29,In stock,http://books.toscrape.com/catalogue/scott-pilg...,http://books.toscrape.com/media/cache/94/b1/94...
14,Rip it Up and Start Again,Five,£35.02,In stock,http://books.toscrape.com/catalogue/rip-it-up-...,http://books.toscrape.com/media/cache/81/c4/81...
15,Our Band Could Be Your Life: Scenes from the A...,Three,£57.25,In stock,http://books.toscrape.com/catalogue/our-band-c...,http://books.toscrape.com/media/cache/54/60/54...
16,Olio,One,£23.88,In stock,http://books.toscrape.com/catalogue/olio_984/i...,http://books.toscrape.com/media/cache/55/33/55...
17,Mesaerion: The Best Science Fiction Stories 18...,One,£37.59,In stock,http://books.toscrape.com/catalogue/mesaerion-...,http://books.toscrape.com/media/cache/09/a3/09...
18,Libertarianism for Beginners,Two,£51.33,In stock,http://books.toscrape.com/catalogue/libertaria...,http://books.toscrape.com/media/cache/0b/bc/0b...
19,It's Only the Himalayas,Two,£45.17,In stock,http://books.toscrape.com/catalogue/its-only-t...,http://books.toscrape.com/media/cache/27/a5/27...

### <center><font color='clue'> Scrapping from Multiple Pages </font> </center>

##### `Making our link dynamic`

In [61]:
from tqdm import tqdm

In [76]:
data=[]
for i in tqdm(range(1,51)):
    linkk='http://books.toscrape.com/catalogue/page-'+str(i)+'.html'
    res=requests.get(linkk)
    soup=BeautifulSoup(res.text,'html.parser')
    
    for sp in soup.find_all('li',class_='col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        book_link    ='http://books.toscrape.com/catalogue/'+sp.find_all('a')[-1].get('href')
        title        =sp.find_all('a')[-1].get('title')
        img_link     ='http://books.toscrape.com/'+sp.find('img').get('src')
        rating       =sp.find('p').get('class')[-1]
        price        =sp.find('p',class_='price_color').text[1:]
        availability =sp.find('p',class_='instock availability').text.strip()
        data.append([title,rating,price,availability,book_link,img_link])

100%|███████████████████████████████████████████| 50/50 [00:53<00:00,  1.08s/it]

In [77]:
len(data)

1000

In [78]:
df=pd.DataFrame(data,columns=['Title','Rating','Price','Stock','Book Link','Image Link'])
df

,Title,Rating,Price,Stock,Book Link,Image Link
0,A Light in the Attic,Three,£51.77,In stock,http://books.toscrape.com/catalogue/a-light-in...,http://books.toscrape.com/../media/cache/2c/da...
1,Tipping the Velvet,One,£53.74,In stock,http://books.toscrape.com/catalogue/tipping-th...,http://books.toscrape.com/../media/cache/26/0c...
2,Soumission,One,£50.10,In stock,http://books.toscrape.com/catalogue/soumission...,http://books.toscrape.com/../media/cache/3e/ef...
3,Sharp Objects,Four,£47.82,In stock,http://books.toscrape.com/catalogue/sharp-obje...,http://books.toscrape.com/../media/cache/32/51...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,http://books.toscrape.com/catalogue/sapiens-a-...,http://books.toscrape.com/../media/cache/be/a5...
...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,One,£55.53,In stock,http://books.toscrape.com/catalogue/alice-in-w...,http://books.toscrape.com/../media/cache/96/ee...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Four,£57.06,In stock,http://books.toscrape.com/catalogue/ajin-demi-...,http://books.toscrape.com/../media/cache/09/7c...
997,A Spy's Devotion (The Regency Spies of London #1),Five,£16.97,In stock,http://books.toscrape.com/catalogue/a-spys-dev...,http://books.toscrape.com/../media/cache/1b/5f...
998,1st to Die (Women's Murder Club #1),One,£53.98,In stock,http://books.toscrape.com/catalogue/1st-to-die...,http://books.toscrape.com/../media/cache/2b/41...
999,"1,000 Places to See Before You Die",Five,£26.08,In stock,http://books.toscrape.com/catalogue/1000-place...,http://books.toscrape.com/../media/cache/d7/0f...

In [79]:
df.isna().sum()

Title         0
Rating        0
Price         0
Stock         0
Book Link     0
Image Link    0
dtype: int64

### <font color='green'> Let's save this as well</font>

In [80]:
df.to_csv('Books.csv',index=False)

### <center><font color='clue'> Scrapping Individual Pages in a detailed Manner </font> </center>

### Approch 1

In [102]:
data=[]
for link in tqdm(df['Book Link']):
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')
    
    book_type   =soup.find('ul',class_='breadcrumb').find_all('a')[2].text
    upc         =soup.find('table',class_='table table-striped').find_all('td')[0].text
    price_x     =soup.find('table',class_='table table-striped').find_all('td')[2].text[1:]
    price_in    =soup.find('table',class_='table table-striped').find_all('td')[3].text[1:]
    tax         =soup.find('table',class_='table table-striped').find_all('td')[4].text[1:]
    avail       =soup.find('table',class_='table table-striped').find_all('td')[5].text
    reviews     =soup.find('table',class_='table table-striped').find_all('td')[6].text
    
    data.append([book_type,price_x,price_in,tax,avail,upc,reviews])

100%|███████████████████████████████████████| 1000/1000 [10:31<00:00,  1.58it/s]

In [105]:
len(data)

1000

In [106]:
data[0]

['Poetry',
 '£51.77',
 '£51.77',
 '£0.00',
 'In stock (22 available)',
 'a897fe39b1053632',
 '0']

In [107]:
df=pd.DataFrame(data,columns=['Category','Price_Excluding_Tax','Price_Including_Tax','Tax','Quantity','upc','reviews'])

In [108]:
df.head()

,Category,Price_Excluding_Tax,Price_Including_Tax,Tax,Quantity,upc,reviews
0,Poetry,£51.77,£51.77,£0.00,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,£53.74,£53.74,£0.00,In stock (20 available),90fa61229261140a,0
2,Fiction,£50.10,£50.10,£0.00,In stock (20 available),6957f44c3847a760,0
3,Mystery,£47.82,£47.82,£0.00,In stock (20 available),e00eb4fd7b871a48,0
4,History,£54.23,£54.23,£0.00,In stock (20 available),4165285e1663650f,0

In [109]:
df.isna().sum()

Category               0
Price_Excluding_Tax    0
Price_Including_Tax    0
Tax                    0
Quantity               0
upc                    0
reviews                0
dtype: int64

In [110]:
df.to_csv('Data.csv',index=False)

## <center><font color='clue'> Combining the two main datasets</font></center>

In [111]:
df1=pd.read_csv('Books.csv')
df2=pd.read_csv('Data.csv')

In [112]:
df1.head()

,Title,Rating,Price,Stock,Book Link,Image Link
0,A Light in the Attic,Three,£51.77,In stock,http://books.toscrape.com/catalogue/a-light-in...,http://books.toscrape.com/../media/cache/2c/da...
1,Tipping the Velvet,One,£53.74,In stock,http://books.toscrape.com/catalogue/tipping-th...,http://books.toscrape.com/../media/cache/26/0c...
2,Soumission,One,£50.10,In stock,http://books.toscrape.com/catalogue/soumission...,http://books.toscrape.com/../media/cache/3e/ef...
3,Sharp Objects,Four,£47.82,In stock,http://books.toscrape.com/catalogue/sharp-obje...,http://books.toscrape.com/../media/cache/32/51...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,http://books.toscrape.com/catalogue/sapiens-a-...,http://books.toscrape.com/../media/cache/be/a5...

In [113]:
df2.head()

,Category,Price_Excluding_Tax,Price_Including_Tax,Tax,Quantity,upc,reviews
0,Poetry,£51.77,£51.77,£0.00,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,£53.74,£53.74,£0.00,In stock (20 available),90fa61229261140a,0
2,Fiction,£50.10,£50.10,£0.00,In stock (20 available),6957f44c3847a760,0
3,Mystery,£47.82,£47.82,£0.00,In stock (20 available),e00eb4fd7b871a48,0
4,History,£54.23,£54.23,£0.00,In stock (20 available),4165285e1663650f,0

### 1) Adding the title Column

In [114]:
df=pd.DataFrame()

In [116]:
df

Empty DataFrame
Columns: []
Index: []

In [117]:
df['Title']=df1['Title']
df['upc']=df2['upc']
df['Category']=df2['Category']
df['Price_Excluding_Tax']=df2['Price_Excluding_Tax']
df['Price_Including_Tax']=df2['Price_Including_Tax']
df['Tax']=df2['Tax']
df['Rating']=df1['Rating']
df['Review']=df2['reviews']
df['quantity']=df2['Quantity']
df['Stock']=df1['Stock']

df['Book_link']=df1['Book Link']
df['Image_link']=df1['Image Link']

In [121]:
df.isnull().sum()

Title                  0
upc                    0
Category               0
Price_Excluding_Tax    0
Price_Including_Tax    0
Tax                    0
Rating                 0
Review                 0
quantity               0
Stock                  0
Book_link              0
Image_link             0
dtype: int64

In [122]:
df.head()

,Title,upc,Category,Price_Excluding_Tax,Price_Including_Tax,Tax,Rating,Review,quantity,Stock,Book_link,Image_link
0,A Light in the Attic,a897fe39b1053632,Poetry,£51.77,£51.77,£0.00,Three,0,In stock (22 available),In stock,http://books.toscrape.com/catalogue/a-light-in...,http://books.toscrape.com/../media/cache/2c/da...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,£53.74,£53.74,£0.00,One,0,In stock (20 available),In stock,http://books.toscrape.com/catalogue/tipping-th...,http://books.toscrape.com/../media/cache/26/0c...
2,Soumission,6957f44c3847a760,Fiction,£50.10,£50.10,£0.00,One,0,In stock (20 available),In stock,http://books.toscrape.com/catalogue/soumission...,http://books.toscrape.com/../media/cache/3e/ef...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,£47.82,£47.82,£0.00,Four,0,In stock (20 available),In stock,http://books.toscrape.com/catalogue/sharp-obje...,http://books.toscrape.com/../media/cache/32/51...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,£54.23,£54.23,£0.00,Five,0,In stock (20 available),In stock,http://books.toscrape.com/catalogue/sapiens-a-...,http://books.toscrape.com/../media/cache/be/a5...

## <font color='green'> Making our final Dataset</font>

In [123]:
df.to_csv('Final.csv',index=False)

                                             #Happy Learning